@media (max-width: 1024px) {
  #root > div > main > section:nth-child(9) {
    padding-top: 100px !important; 
    padding-bottom: 100px !important; /* remove bottom padding */
  }
}

@media (max-width: 1440px) {
 #root > div > main > section:nth-child(9) > div {
  padding: 0 40px !important;
 }
}

@media (max-width: 500px) {
 #root > div > main > section:nth-child(9) > div {
  padding: 0 20px !important;
 }
}

#root > div > main > section:nth-child(9) {
  padding-top: 100px !important;
  padding-bottom: 100px !important; /* remove bottom padding */
}